.git
.venv
venv
__pycache__
*.pyc
.pytest_cache

data

.vscode
.idea

*.md

models/

infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.*
infrastructure/terraform/crash.log
infrastructure/terraform/crash.*.log